body {
  margin: 0;
  background: #1f1f1f;
  /* margin-right: 3em;
    margin-left: 3em; */
  overflow-x: hidden;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.755);
}

nav h1 {
  font-size: 3vw;
  margin: 0;
  margin-top: 2vw;
  align-items: center;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 3.4vw;
  margin-right: 10em;
}

nav ul li {
  margin-left: 1.5vw;
  font-size: 1.2vw;
}

nav button {
  margin: 0;
  margin-top: 2.5vw;
  margin-left: 1vw;
  padding: 0.75vw;
  border-radius: 19px;
  color: white;
  background: none;
  border-color: white;
}
nav button:active {
  border-radius: 19px;
}

nav button:nth-child(2) {
  background: #6831ea;
  border: none;
  padding-left: 2.2vw;
  padding-right: 2.2vw;
}
.tagline {
  font-size: 6vw;
  color: #fff;
  position: relative;
  top: 1.5em;
  margin-left: 1.2em;
}
svg {
  position: absolute;
  right: 1vw;
  bottom: 2vh;
  z-index: -1;
  min-height: 420px;
  min-width: 325px;
}
.aboutus {
  position: absolute;
  top: 100vh;
  width: 100vw;
  background-color: #6831ea;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  height: 100vh;
}
.aboutus_img {
  z-index: 0;
  width: 64.1vw;
  /* padding-top: 1.1em;
  align-self: center; */
  /* padding-left: 18%; */
}
.overlay_aboutus {
  position: absolute;
  width: 50vw;
  height: 100%;
  left: 0;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.64);
  z-index: 1;
}

.overlay_aboutus p {
  text-align: justify;
  text-justify: inter-word;
  margin-left: 19vw;
  margin-right: 1vw;
  margin-top: 30vh;
  margin-bottom: 30vh;
  color: white;
  line-height: 1.4em;
}
.aboutus_imgonclick1 {
  position: absolute;
  height: 25vh;
  width: 16vw;
  right: 26vw;
  top: 20vh;
}
.aboutus_imgonclick2 {
  position: absolute;
  height: 25vh;
  width: 16vw;
  right: 26vw;
  bottom: 20vh;
}

.aboutus_btn {
  position: absolute;
  top: 44%;
  height: 7vw;
  width: 20vw;
  z-index: 1;
  background: none;
  border-color: white;
  border-radius: 9px;
  color: white;
  font-size: 3vw;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  overflow: hidden;
}
.aboutus_btn::after {
  background-color: #fff;
  border-radius: 9px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.aboutus_btn:hover::after {
  transform: translate(0, 0);
  border-color: #fff;
}
.aboutus_btn:hover {
  border: 2px solid transparent;
  color: #6831ea;
  font-weight: bold;
  border-color: #fff;
  transform: scale(1.05);
  will-change: transform;
}
.events {
  position: absolute;
  top: 200vh;
  width: 100vw;
  background-color: #6831ea;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: -1;
  height: 100%;
}
.events_img {
  /* z-index: 0;
    padding: 1.1em;
    width: 50 vw; */
  z-index: 0;
  width: 64.1vw;
  padding-top: 1.1em;
  padding-bottom: 1rem;
}
.overlay_event {
  position: absolute;
  width: 50vw;
  height: 100%;
  right: 0;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.64);
  z-index: 1;
}
.event_btn {
  position: absolute;
  top: 50%;
  height: 7vw;
  width: 20vw;
  z-index: 1;
  background: none;
  border-color: white;
  border-radius: 9px;
  color: white;
  font-size: 3vw;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  overflow: hidden;
}
.event_btn::after {
  background-color: #fff;
  border-radius: 9px;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.event_btn:hover::after {
  transform: translate(0, 0);
  border-color: #fff;
}
.event_btn:hover {
  border: 2px solid transparent;
  color: #6831ea;
  font-weight: bold;
  border-color: #fff;
  transform: scale(1.05);
  will-change: transform;
}

.inactive {
  opacity: 0;
}

.slides {
  height: 75vh;
  width: 50vw;
  position: absolute;
  top: 14%;
  background: rgba(196, 196, 196, 0.38);
  box-shadow: 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.slide1_img {
  height: 15vw;
  margin-left: 6%;
  margin-top: 22vh;
}

.swiper-container {
  height: 75vh;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.slide-title {
  font-size: 1vw;
  position: relative;
  left: 8vw;
  color: #6831ea;
  background-color: #fff;
  width: fit-content;
  height: 2vw;
  border-radius: 9px;
  padding-left: 5px;
  padding-right: 5px;
  border: #6831ea solid 1px;
}

.slide-btn {
  padding-top: 5px;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.slide-description {
  position: relative;
  font-size: 1vw;
  width: 22vw;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  left: 25vw;
  top: -17vw;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: " ";
}

.swiper-portfolio-icon {
  font-size: 5vw;
  color: #6831ea;
}

.swiper-pagination-bullet-active {
  background-color: #6831ea;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet {
  outline: none;
}

/* .coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: #ff0;
  font-family: roboto;
  font-size: 4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.coolBeans::after {
  background-color: #ff0;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: #4b0082;
  transform: scale(1.05);
  will-change: transform;
} */

.footer {
  position: absolute;
  padding-top: 2rem;
  top: 290%;
  width: 100%;
  height: 250px;
}

.footer_container {
  height: fit-content;
}

.footer_background {
  padding-left: 10rem;
  padding-right: 10rem;
  height: 220px;
}

.footer_title {
  font-size: 3rem;
  margin-bottom: 0.25rem;
  position: relative;
  top: 20px;
  padding-left: 18vw;
}

.footer_links_list {
  text-decoration: none;
  color: #fff;
  list-style: none;
  padding: 0.5rem;
  height: 100%;
}

.footer_links_list li {
  padding: 0.5rem;
  font-size: 1rem;
}

.footer_link {
  color: #fff;
  text-decoration: none;
}

.footer_links {
  position: relative;
  width: 10vw;
  left: 75vw;
  top: -40px;
}

.footer__socials {
  font-size: 1.5rem;
  margin-right: 1.5rem;
  position: relative;
  top: -150px;
  left: 18vw;
  width: fit-content;
}

.footer__social {
  padding-left: 1rem;
}

.footer__social:hover,
.footer_link:hover,
.footer__copyright:hover,
.footer_title:hover {
  color: #6831ea;
}

.footer__copyright {
  font-size: 1rem;
  text-align: center;
  color: white;
  margin-top: 3rem;
  position: relative;
  top: -100px;
}

.footer_title,
.footer__social {
  color: #fff;
}
