body{
    margin: 0;
    background: #1F1F1F;
}

nav{
    display: flex;
    justify-content: space-around;
    color: rgba(255, 255, 255, 0.755);
}


nav h1{
    font-size: 3em;
    margin: 0;
    margin-top: .4em;
    align-items: center;
    
}

nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    margin: 0;
    margin-top: 2.5em;
    justify-content: space-between;
    margin-left: -10em;
}

nav ul li{
    margin-right: 3em;
    font-size: 1.2em;

}

nav button{
    margin: 0;
    margin-top: 2.5em;
    margin-left: 1em;
    padding: 0.75em;
    border-radius: 19px;
    color: white;
    background: none;
    border-color: white;
}
nav button:active{
    
    border-radius: 19px;
}

nav button:nth-child(2){ 
    background: #6831EA;
    border: none;
    padding-left: 2.2em;
    padding-right: 2.2em;
}
svg{
position: absolute;
right: 5%;
bottom: 0%;
}